.vscode/
.vscode-test/
front/tests/
src/tests/
out-test/
.nyc_output/
coverage/
out/
node_modules/
esbuild.js
package-lock.json
scripts/
.gitignore
.eslintrc*
eslint.config.*
tsconfig*.json
*.vsix
**/*.map
backends/.venv/
backends/static/tests/
backends/dynamic/tests/
backends/plugins/tests/
backends/**/__pycache__/
backends/**/*.pyc
backends/**/*.pyo
docker/
pyproject.toml
Makefile
src/
.coverage
coverage.xml
.pytest_cache/
.ruff_cache/
.c8rc.json
