.vscode/
.vscode-test/
test/
out-test/
.nyc_output/
coverage/
dist/
node_modules/
.gitignore
.eslintrc*
eslint.config.*
tsconfig*.json
*.vsix
**/*.map
backends/.venv/
backends/static/tests/
backends/dynamic/tests/
backends/plugins/tests/
backends/static/cache/
backends/**/__pycache__/
backends/**/*.pyc
backends/**/*.pyo
docker/
pyproject.toml
Makefile
